{% extends 'blog/base.html' %}
{% block content %}
<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
<input type="text" name="username" placeholder="username">
<input type="text" name="first_name" placeholder="first_name">
<input type="text" name="last_name" placeholder="last_name">
<input type="text" name="email" placeholder="email">
<input type="text" name="password" placeholder="password">

<button type="submit">Signup</button>

</form>
<div>
    <a href="{% url 'signin' %}">Signin</a>
    <a href="{% url 'home' %}">Home</a>
</div>
{% endblock content %}