{% extends 'school/base.html' %}
{% block content %}
<h4>This is signup page</h4>
<form action="" method="post" novalidate>
    {% csrf_token %}
    <div>
        {{form.first_name.label_tag}}
        {{form.first_name}}
    </div>
    <div>
        {{form.last_name.label_tag}}
        {{form.last_name}}
    </div>
    <div>
        {{form.email.label_tag}}
        {{form.email}}
    </div>
    <div>{{form.username.label_tag}}
        {{form.username}}
    </div>
    <div>
        {{form.password1.label_tag}}
        {{form.password1}}
    </div>
    <div>

        {{form.password2.label_tag}}
        {{form.password2}}
    </div>
    <button type="submit">Signup</button>
</form>


{% endblock %}