{% extends 'post/base.html' %}

{% block css %}
<style>
    .head2{
         color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    .head1{
        height: 500px;
        width: 100%;
        background-color: #202729;
    }
</style>
{% endblock css %}
{% block content %}

<div class="container shadow head1">
    <div class=" mt-5 head2">
        <h3 class="text-center ">Welcome To PostCreater</h3>
        <h1 class="text-center">Come here & create your post</h1>
    </div>
    
</div>
{% endblock content %}